@font-face {
  font-family: "clockFont";
  src: url("../font/DS-Digital.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "clockFont";
}

html {
  -webkit-app-region: drag;
}

body {
  width: 100vw;
  height: 100vh;
}

.show-clock {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.show-year-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  color: rgb(112, 216, 142);
}

.show-year {
  text-align: center;
}

.year {
  text-align: center;
  width: 50vw;
  font-size: 3.125rem;
}

.show-year {
  width: 50vw;
}

.show-hours-container {
  font-size: 5rem;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 172, 78);
}

.hours,
.minute,
.seconds {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 5rem;
  padding: 0 !important;
}

.tips {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: .75rem;
  letter-spacing: .125rem;
}

.month-and-day {
  display: inline-flex;
}

.show-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date-time{
  font-size: .9375rem;
  letter-spacing: .125rem;
}

@keyframes blink{
  0%{
    opacity: 0;
  }

  20%{
    opacity: 1;
  }

  50%{
    opacity: 0;
  }

  75%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

.blink{
  animation: blink 2s infinite;
}